<% layout('./layouts/boilerplateCode') -%>
<div class=" row new1 offset-3">
    <h1>Edit your Posts:</h1>
<div class="row new">
    <form action="/listings/<%=listing._id%>?_method=PUT" method="POST" class="needs-validation" novalidate>
       <div class="price">
        <label for="title" class="form-label">Title:</label>
        <input type="text" placeholder="Enter a Catchy Title" class="form-control" value="<%=listing.title%>" id="title" name="listing[title]" required>
        <div class="valid-feedback">
            Title looks Good
          </div>
       </div>
        <label for="description" class="form-label">Description:</label>
        <textarea name="listing[description]" id="description" class="form-control" placeholder="Description" required><%=listing.description%></textarea>
        <label for="image" class="form-label">Image-URL</label>
        <input type="text" placeholder="Image-URL/LINK" name="listing[image]" value="<%=listing.image%>" id="image" required class="form-control">
        <div class="row">
           <div class="price col-4">
            <label for="price" class="form-label">Price:</label>
            <input type="number" placeholder="1200" min="1000" value="<%=listing.price%>" id="price" class="form-control" required name="listing[price]">
            <div class="invalid-feedback">
                Price greater than 1000
              </div>
           </div>
        <div class="country col-8">
            <label for="country" class="form-label" >Country:</label>
        <input type="text" placeholder="India" name="listing[country]" value="<%=listing.country%>" class="form-control" required id="country">
        </div>
        </div>
        <label for="location" class="form-label">Location:</label>
        <input type="text" placeholder="location" name="listing[location]" value="<%=listing.location%>" class="form-control" required id="location">
        <button type="submit" class="btn btn-primary "  style="margin-top: 1rem;">Edit</button>
    </form>
</div>
</div>